# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
venv/
.venv/
env/

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.*

# Respaldos
*.backup
*.backup.py

# Sistema
.DS_Store
